<div class="add-item">
    <input class="add-item__input" type="text" name="" id="" placeholder="Add item">
    <div>
        <button class="add-item__cancel">Cancel</button>
        <button class="add-item__add">Add</button>
    </div>
    <button class="add-item--editor__close"></button>
    <p class="add-item--editor__selected-count"></p>
    <button class="add-item--editor__delete"></button>
    <button class="add-item--editor__check-seen"></button>
</div>
