<div class="add-item">
    <input class="add-item__input" type="text" name="" id="" placeholder="Add item">
    <div>
        <button class="add-item__cancel">Cancel</button>
        <button class="add-item__add">Add</button>
    </div>
</div>
