    <script>
    let readyFunctions = [];

    if (document.readyState != 'loading') {
        runReadyFunctions();
    }
    else {
        document.addEventListener('DOMContentLoaded', runReadyFunctions)
    }

    function runReadyFunctions () {
        for (thisFunction of readyFunctions) {
            thisFunction();
        }
    }
    </script>
    <script src="/scripts/add-item.js"></script>
</body>
</html>
