<% for (let category of categories) { %>
    <ul class="item-list <%if (category.last_seen) {%>item-list--visible<%}%>" id="<%- category.slug %>">
        <% for (let item of items) { %>
            <% if (item.category === category.slug) { %>
                <li class="item-list__item" id="<%- item.slug %>">
                    <div class="item-list__edit-panel">
                        <input type="checkbox" class="item-list__selector">
                        <button class="item-list__delete-button"></button>
                        <button class="item-list__edit-button"></button>
                    </div>
                    <label for="" class="item-list__label"><%- item.item_name %></label>
                    <input class="item-list__check" type="checkbox" name="" id="<%- item.slug %>" <% if (item.seen) { %>checked<% } %>>
                </li>
            <% } %>
        <% } %>
    </ul>
<% } %>
