<ul class="item-list">
    <li>
        <label for="" class="item-list__label">Rear Window</label>
        <input class="item-list__check" type="checkbox" name="" id="">
    </li>
    <li>
        <label for="" class="item-list__label">American Psycho</label>
        <input class="item-list__check" type="checkbox" name="" id="">
    </li>
    <li>
        <label for="" class="item-list__label">It Follows</label>
        <input class="item-list__check" type="checkbox" name="" id="">
    </li>
    <li>
        <label for="" class="item-list__label">The Grand Budapest Hotel</label>
        <input class="item-list__check" type="checkbox" name="" id="">
    </li>
    <li>
        <label for="" class="item-list__label">Blackkklansman</label>
        <input class="item-list__check" type="checkbox" name="" id="">
    </li>
    <li>
        <label for="" class="item-list__label">Schindler's List</label>
        <input class="item-list__check" type="checkbox" name="" id="">
    </li>
    <li>
        <label for="" class="item-list__label">Shutter Island</label>
        <input class="item-list__check" type="checkbox" name="" id="">
    </li>
    <li>
        <label for="" class="item-list__label">Memento</label>
        <input class="item-list__check" type="checkbox" name="" id="">
    </li>
    <li>
        <label for="" class="item-list__label">Schindler's List</label>
        <input class="item-list__check" type="checkbox" name="" id="">
    </li>
    <li>
        <label for="" class="item-list__label">Shutter Island</label>
        <input class="item-list__check" type="checkbox" name="" id="">
    </li>
    <li>
        <label for="" class="item-list__label">Memento</label>
        <input class="item-list__check" type="checkbox" name="" id="">
    </li>
</ul>
