<% let i = 0; %>
<% for (let category of categories) { %>
<% if (items.length > 0) { %>
<ul class="item-list <%if (category.last_seen) {%>item-list--visible<%}%>" id="<%- category.slug %>">
    <% for (let item of items) { %>
    <% if (item.category === category.slug) { %>
    <li>
        <label for="" class="item-list__label"><%- item.item_name %></label>
        <input class="item-list__check" type="checkbox" name="" id="<%- item.slug %>" <% if (item.seen) { %>checked<% } %>>
    </li>
    <% } %>
    <% } %>
</ul>
<% } else { %>
<div class="item-list__empty-state"></div>
<% } %>
<% i ++; %>
<% } %>
