<div class="random-toast">
    <p>This is a random suggestion</p>
</div>
<nav class="menu">
    <div class="menu__icon"></div>
    <ul class="menu__category-menu">
        <% for (let i = 0; i < data.length; i ++) { %>
        <li>
            <a href="" data-target="<%- data[i].categorySlug %>"><%- data[i].category %></a>
        </li>
        <%}%>
        <li>
            <a href="#">Edit categories</a>
        </li>
    </ul>
    <button class="menu__randomize"></button>
</nav>
