<nav class="nav">
    <ul class="nav__category-menu">
        <li>
            <a href="#" class="nav__category-link">Movies</a>
        </li>
        <li>
            <a href="#" class="nav__category-link">TV Shows</a>
        </li>
        <li>
            <a href="#" class="nav__category-link">Anime/ Cartoons</a>
        </li>
        <li>
            <a href="#" class="nav__category-link">Games</a>
        </li>
        <li>
            <a href="#" class="nav__category-link">Documentaries</a>
        </li>
        <li>
            <a href="#" class="nav__category-link">Music</a>
        </li>
        <li>
            <a href="#" class="nav__category-link">Videos</a>
        </li>
        <li>
            <a href="#" class="nav__category-link">+ <span>Create a category</span></a>
        </li>
    </ul>
    <div class="function-bar"></div>
</nav>
