@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
.item-list__item, .item-list__item .item-list__edit-panel, .add-item, .edit-items {
  display: flex;
  flex-direction: row;
  align-items: center; }

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end; }

.item-list, body {
  display: flex;
  flex-direction: column;
  align-items: center; }

.top-bar button, .add-item__input, .menu__icon, .menu__randomize, *, body {
  font-family: lato, helvetica, arial, sans-serif;
  font-weight: 700; }

.item-list {
  width: 100%;
  height: calc(100vh - 156px);
  list-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  overflow-x: visible;
  visibility: hidden;
  display: none;
  padding: 0 24px 0 0; }
  .item-list--visible {
    visibility: visible;
    display: flex; }
  .item-list__item {
    width: calc(100vw + 126px - 24px);
    max-width: 726px;
    padding: 8px 0;
    border-bottom: 1px #EEEEEE solid;
    transform: translateX(-63px);
    overflow-x: visible;
    transition: .2s transform; }
    @media screen and (min-width: 648px) {
      .item-list__item {
        max-width: 717px;
        transform: translateX(-46px);
        border: none; }
        .item-list__item:hover .item-list__edit-panel {
          visibility: visible; } }
    .item-list__item--edit-mode {
      transform: translateX(63px); }
      .item-list__item--edit-mode div.item-list__edit-panel {
        visibility: visible; }
      @media screen and (min-width: 648px) {
        .item-list__item--edit-mode {
          transform: translateX(-46px); } }
    .item-list__item--deleted {
      transform: translateX(100vw); }
    .item-list__item:first-child {
      padding-top: 0; }
    .item-list__item:last-child {
      padding-bottom: 64px;
      border-bottom: none; }
    .item-list__item label {
      flex: 1; }
    .item-list__item .item-list__edit-panel {
      background-color: #E82E50;
      margin-right: 18px;
      border-radius: 0 4px 4px 0;
      padding: 14px;
      transition: transform .2s ease-in-out; }
    .item-list__item .item-list__selector, .item-list__item .item-list__delete-button, .item-list__item .item-list__edit-button {
      appearance: none;
      border: none;
      background: none;
      width: 19px;
      height: 19px;
      margin-right: 16px; }
    .item-list__item .item-list__delete-button {
      background: url("/img/icon_delete_white.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .item-list__item .item-list__edit-button {
      background: url("/img/icon_edit.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }
    .item-list__item .item-list__selector {
      border: 3px #FFF solid;
      border-radius: 4px; }
      .item-list__item .item-list__selector:checked {
        appearance: none;
        background: url("/img/checkbox-checked-small.svg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center; }
      .item-list__item .item-list__selector:focus {
        outline: none; }
    @media screen and (min-width: 648px) {
      .item-list__item .item-list__edit-panel {
        background: none;
        flex-direction: row-reverse;
        border-right: 1px #dbdfe3 solid;
        border-radius: 0;
        margin-right: 8px;
        visibility: hidden; }
      .item-list__item .item-list__delete-button {
        background-image: url("/img/icon_delete_maroon.svg"); }
      .item-list__item .item-list__edit-button {
        background-image: url("/img/icon_edit-maroon.svg"); }
      .item-list__item .item-list__selector {
        border-color: #E82E50;
        margin: 0; }
        .item-list__item .item-list__selector:checked {
          background-image: url("/img/checkbox-checked-small-maroon.svg"); } }
  .item-list__check {
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07), 0px 3px 15px rgba(0, 0, 0, 0.1);
    background: #FFF;
    background-image: url("/img/checkbox-check.svg");
    background-size: 65% 65%;
    background-repeat: no-repeat;
    background-position: center;
    transition: .1s background; }
    .item-list__check:hover, .item-list__check:focus {
      outline: none;
      box-shadow: 0px 1px 2px rgba(232, 46, 80, 0.45), 0px 3px 7px rgba(232, 46, 80, 0.45); }
    .item-list__check:checked {
      appearance: none;
      background-color: rgba(232, 46, 80, 0.86); }

.top-bar {
  width: calc(100vw - 24px * 2);
  max-width: 600px;
  padding: 0;
  margin-bottom: 24px; }
  .top-bar button {
    margin-left: 6px; }

.add-item {
  display: none;
  width: 100%;
  transform: translateY(0px) scale(1);
  transition: .2s transform; }
  .add-item--visible {
    display: flex; }
  .add-item__input {
    width: 100%;
    appearance: none;
    padding: 14px;
    border: 6px;
    border-radius: 6px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.075);
    transition: .2s box-shadow; }
    .add-item__input:focus, .add-item__input:hover {
      border: none;
      outline: none;
      border: 1px #EEEEEE solid;
      padding: 13px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07), 0px 3px 15px rgba(0, 0, 0, 0.1); }
  .add-item div {
    position: absolute;
    right: 24px; }
  .add-item button {
    opacity: 0;
    transition: opacity .2s;
    background: none;
    appearance: none;
    border: none; }
    .add-item button.add-item__cancel {
      color: #E82E50; }
    .add-item button.add-item__add {
      color: #2E6DE8; }
  .add-item--active {
    transform: translateY(-1px) scale(1.02); }
    .add-item--active button {
      opacity: 100; }

.edit-items {
  display: none;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px #EEEEEE solid;
  padding: 13px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07), 0px 3px 15px rgba(0, 0, 0, 0.1); }
  .edit-items--visible {
    display: flex; }
  .edit-items__select-all, .edit-items__check-seen, .edit-items__delete {
    appearance: none;
    border: none;
    width: 20px;
    height: 20px;
    margin-right: 14px;
    background-color: #FFF;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
  .edit-items__select-all {
    border: 3px #272D32 solid;
    border-radius: 4px; }
    .edit-items__select-all:checked {
      background-image: url("/img/checkbox-checked-small-black.svg");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center; }
  .edit-items__selected-count {
    flex: 1; }
  .edit-items__check-seen {
    background-image: url("/img/checkbox-check.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(232, 46, 80, 0.86);
    border-radius: 4px; }
  .edit-items__delete {
    color: #E82E50;
    background-image: url("/img/icon_delete_maroon.svg") !important; }

.menu {
  position: fixed;
  bottom: 32px;
  right: 24px;
  left: 24px;
  max-width: 600px;
  border-radius: 28px;
  background-color: #FFF;
  box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.07);
  padding: 8px 8px 8px 16px; }
  @media screen and (min-width: 648px) {
    .menu {
      left: calc(50vw - 600px / 2); } }
  .menu--open .menu__category-menu {
    max-height: 400px;
    margin: 10px 0; }
  .menu__category-menu {
    max-height: 30px;
    flex: 1;
    overflow-y: scroll;
    transition: .4s ease-out; }
    .menu__category-menu a {
      color: #272D32;
      font-size: 18px; }
    .menu__category-menu li {
      padding-bottom: 28px; }
      .menu__category-menu li:last-child {
        padding: 0; }
  .menu__icon, .menu__randomize {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 16px;
    color: #E82E50;
    background: none;
    border: none; }
  .menu__icon {
    margin: 0 8px 12px 0;
    width: 16px;
    height: 16px; }
  .menu__randomize, .menu__icon {
    background-color: #E82E50; }

.random-toast {
  width: calc(100% - 24px * 4);
  max-width: 504px;
  background-color: #E82E50;
  color: #FFF;
  position: relative;
  top: -10px;
  left: 0px;
  height: 43px;
  border-radius: 16px 16px 0 0;
  padding: 12px 16px;
  transition: .2s ease-out; }
  .random-toast--visible {
    top: -66px; }
  .random-toast p {
    color: #FFF; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #272D32; }

a {
  text-decoration: none; }

ul,
li {
  list-style: none; }

.hidden {
  display: none; }

body {
  width: 100%;
  height: 100vh;
  padding: 24px 0;
  scrollbar-width: none;
  font-size: 16px; }
